* {
  border: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 2px;
}
#waybar {
  /*border-radius : 16px;*/
  /*border : solid 2px rgba(247, 47, 150, 0.7) ;*/
  background: rgba(0,0,0,0);
  color: #00D2D4;
  font-size: 16px;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight : bolder;
}

#workspaces button {
  padding: 0 5px;
  color: #00D2D4;
}
#workspaces button.active {
  color: rgba(100,100,100,100);
}

#workspaces{
    border-radius: 10px 10px 70px 70px;
    border: 3px solid @foreground;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
    background: rgba(0,0,0,0.8);
}
#clock{
    background: rgba(0,0,0,0.8);
    border-radius: 10px 0px 0px 10px;
    border: 3px solid @foreground;
    border-right: none;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}
#network {
    background: rgba(0,0,0,0.8);
    border-radius: 0px 10px 70px 0px;
    border: 3px solid @foreground;
    border-left: None;
    padding-left: 2.0rem;
    padding-right: 2.0rem;

}

#custom-updates {
  color: #1788e4;
}

#pulseaudio {
    background: rgba(0,0,0,0.8);
    border-radius: 0px 10px 10px 0px;
    border: 3px solid @foreground;
    border-left: None;
    padding-left: 2.0rem;
    padding-right: 2.0rem;

}

#cpu {
    border: 3px solid @foreground;
    background: rgba(0,0,0,0.8);
    border-left : None;
    border-right : None;
    border-right: None;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}

#temperature {
  color: #98c379;
}

#memory {
    border-radius: 10px 0px 0px 70px;
    border: 3px solid @foreground;
    background: rgba(0,0,0,0.8);
    border-right: None;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
}
